.dashboard {
  margin-left: 100px;
}

.dash_header {
  margin: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.search-input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

.dash_details {
  margin: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dash_filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowsOptionDiv {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectRows {
  border: none;
  background: #9e9e9e33;
  padding: 8px 9px 8px 9px;
  gap: 4px;
  border-radius: 8px;
}

.addCustomer {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  gap: 8px;
  border-radius: 8px;
  background: #000000;
  color: white;
}

.pagination {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.page_prev,
.page_next {
  color: #9e9e9e;
  border: none;
}

.page_number {
  width: 31px;
  border: 1px solid #00000033;
  border-radius: 8px;
  padding: 8px 9px;
}

.bg-black {
  background: black;
  color: white;
  border: none;
}

button {
  cursor: pointer;
}

.addCustomerContainer {
  position: relative;
}

.closeIcon {
  position: absolute;
  z-index: 50;
  left: -50px;
}
